extends /top

block title
  title Account confirmation

block action
  h2 Account confirmation
  p Please follow the account confirmation instructions sent to your email.
  | If your confirmation link has expired, please request a 
  span
    a(href='../resend') new one I THINK THERE"S A MISTAKE HERE
  | .
